{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <!-- container -->
    <div class="" id="body">
        <div class="" id="header"></div>
        <div class="">

        </div>
        <div class=" flex justify-between w-1/2 h-aut mx-10" id="contlink ">
            <div class="">
                <p class="font-bold " id="username">{{ x.username }}</p>
                <img src="{{ x.image.url }}" alt="" class="w-20 h-20 rounded-full ">
                <h1 class="" id="name"> {{ x.name }}</h1>
                <button class=""> {{ x.button }}</button>
                <p class="" id="bio"> {{ x.bio }}</p>
            </div>
            {% endfor %}
            <div class="grid grid-cols-3 w-1/2 ma">
                <a href="#" class="">Post</a>
                <a href="#" class="">Followers</a>
                <a href="#" class="">Following</a>
            </div>
        </div>
        <div class="">
            <div class="" id="buttcontant"></div>
            <div class="" id="button"></div>
            <div class="" id="container"></div>
        </div>
        <h1 class="">Story highlights</h1>
        <p class=""> Kep you favorate stories on your profile</p>
        <div class="" id="1"></div>
        <div class="" id="2"></div>
        <div class="" id="3"></div>
        <div class="" id="4"></div>
    </div>
    <div class="" id="icon"></div>
    <div class="" id="gallery"></div>
    </div>
</body>

</html>